.container__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    padding: 20px;
}

input{
    margin: 10px;
    padding: 5px;
}
label{
  text-align: left;
}